body{
    background-color:coral;
}




.wrapper{
 width: 95%;
 margin: 0 auto;
 background-color: coral;
 text-align: center;
 display: grid;
 grid-template-columns: 3fr;
 grid-template-rows: auto auto auto;
 grid-gap: 15px;
 grid-template-areas:
 "header header"
 "nav nav"
 "main aside"
 "footer footer";
}

header{
    grid-area: header;
    background-color:midnightblue;
}

nav{
    grid-area: nav;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 0; 
    margin: 0;
    height: 100%
}

nav li{
    list-style-type: none; 
    text-align: center;
    font-size: 2em;
    border: 1px solid crimson;
    border-radius: 15px;
    margin-right: 15px;
    line-height: 2;
    margin: 10px;
    background-color:royalblue;

    
}

nav li:last-of-type{
    margin-right: 0;
}

footer{
    margin-left: 40%;
    color:indigo;
    font-family: fantasy;
}

section{
    text-align: left;
    color: limegreen;
}

a{
    text-decoration: none;
}

.link{
    text-decoration: none;

}

.pic1{
    display: block;
    margin-right: auto;
    width: 400px;

}

.page2link{
    color:limegreen
}


h2{
    margin-left: 40%;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    color:springgreen;
}

.pic2{
    display: block;
    margin-bottom: auto;
    width: 500px;
    height: 400px;
}

table,tr,td,th{
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-collapse: collapse;
    font-size: 15px;
    color:crimson;
}

tr:nth-child(2), tr:nth-child(4)
{
    background-color: White;
}

tr:nth-child(1), tr:nth-child(3), tr:nth-child(5)
{
    background-color: black;
}

table{
    margin-right: 70%;
    padding-left: 10%;
}

.header2{
    margin-right: 25%;
    text-align: center;
    color:dodgerblue;
}

.lista{
    color:cadetblue;
    padding-left: 50%;
    margin-right: 20%;
    text-align: left;

}
/* måste fixa ul li så att mina punkter kommer under rubriken */

p{
    color:indigo;
    
}